/* Header.css */
.custom-menu .ant-menu-item:hover {
    background-color: #9989C5 !important; /* Change background color on hover */
    color: #fff !important; /* Optional: Change text color to white for better contrast */
  }
  
  .custom-menu .ant-menu-item {
    transition: background-color 0.3s ease; /* Smooth hover transition */
  }
  